.modal-header {
    justify-content: space-between;
    padding: 12px;
}

.button-close-modal {
    background: transparent;
    border: 0;
    opacity: 0.5;

    &:hover {
        opacity: 0.9;
    }
}

.input-err { 
    font-size: 11px;

}

.col-form-label {
    padding-bottom: 4px;
}

