<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-brand">{{formattedDate}} - {{currentTime}}</div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav">
                <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
                    <a class="nav-link profile-bar" ngbDropdownToggle id="navbarDropdownMenuLink">
                        <i class="fa-regular fa-user profile-box"></i>
                        store
                    </a>
                    <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink"
                        class="dropdown-menu dropdown-menu-right">
                        <div ngbDropdownItem class="dropdown-item-office disabled">
                            <i class="fa-solid fa-building"></i>
                            MT Haryono Jakarta
                        </div>
                        <div ngbDropdownItem (click)="changePass(true)">
                            <i class="fa-solid fa-gear"></i>
                            Change Password
                        </div>
                        <div ngbDropdownItem  (click)="logout()">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            Logout
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div *ngIf="isVisibleModal">
    <app-modal [visible]="isVisibleModal" title="Change Password" [isLoading]="isLoadingModal"
        (handleModal)="onActionModal($event)">
        <div class="change-password-body">
            <form cForm (ngSubmit)="onSubmitChangePass()" [formGroup]="changePassForm" cForm novalidate>
                <div class="mb-3">
                    <label cCol cLabel="col" for="password">New Password</label>
                    <div *ngIf="changePassForm.controls['password'] as ctrl">
                        <input [valid]="
                                ctrl.touched && ctrl.valid
                                ? true
                                : (submitted || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                            " autocomplete="new-password" cFormControl formControlName="password" id="password"
                            placeholder="Enter your new password" required type="password" />
                        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                            <ng-container *ngIf="ctrl.errors as errors">
                                <div class="input-err" *ngIf="errors['required']">Password is required</div>
                                <div class="input-err" *ngIf="errors['minlength']">
                                    {{ errorMessages['password'].minLength }}
                                </div>
                                <div class="input-err" *ngIf="errors['pattern']">
                                    {{ errorMessages['password'].pattern }}
                                </div>
                            </ng-container>
                        </c-form-feedback>
                    </div>
                </div>
                <div class="mb-3">
                    <label cCol cLabel="col" for="confirmPassword">Confirm New Password</label>
                    <div *ngIf="changePassForm.controls['confirmPassword'] as ctrl">
                        <input [valid]="
                                ctrl.touched && ctrl.valid
                                ? true
                                : (submitted || ctrl.touched) && ctrl.invalid
                                ? false
                                : undefined
                            " autocomplete="off" cFormControl formControlName="confirmPassword" id="confirmPassword"
                            placeholder="Confirm your new password" required type="password" />
                        <c-form-feedback *ngIf="submitted || ctrl.invalid" [valid]="!(submitted || ctrl.invalid)">
                            <ng-container *ngIf="ctrl.errors as errors">
                                <div *ngIf="errors['passwordMismatch']">
                                    {{ errorMessages['confirmPassword'].passwordMismatch }}
                                </div>
                                <div *ngIf="errors['required']">Confirmation is required</div>
                            </ng-container>
                        </c-form-feedback>
                    </div>
                </div>
            </form>
        </div>
    </app-modal>
</div>